##############################################################
#How to connect to mysqld [socket:socketPath or port:portNum]#
##############################################################  
connection=port:3306
mysqlUser=backup
mysqlPwd=backup
mysqlHost=127.0.0.1
mysqlPort=3306
backupdbname=mysql
backuptype=logical
##############################################################
#mydumper's installation directory                           #
##############################################################
basedir=/usr/local
threads=8
##############################################################
#database to be backuped                                     #
##############################################################
db='-x ^(?!(sys|test))'
#db='-B '
#db='-x a|b'
##############################################################
#whether backup routine or not                                 #
##############################################################
routine="-G -E -R"
#routine=
##############################################################
#long query                                                  #
##############################################################
longQuery="-l 180 -K"
#longQuery="-l" 
##############################################################
#Try to split tables into chunks of this many rows           #
##############################################################
#splitTbl="-r 50000"
splitTbl="--use-savepoints"
##############################################################
#if enable compress                                          #
##############################################################
compress="-c"
#compress=
##############################################################
#other arguments                                             #
##############################################################
opt="-e --less-locking -t $threads"
##############################################################
#local directory where backup stored                         #
##############################################################
backupDir=/backup/fullBackup
##############################################################
#if backup transfer to remote host,Yes or No                 #
##############################################################
#enableRsync=No
enableRsync=Yes
##############################################################
#remote host on which backup stored                          #
##############################################################
dstHost=1.1.1.1
dstPort=22
dstUser=root
dstPass=aaa
dstDir=/backup/mysql/logicalbackup/
##############################################################
#if remove old backup                                        #
##############################################################
#removeOldFile=Yes
removeOldFile=No
preserveDay=2
##############################################################
#whether check backup or not,1 or 0                          #
##############################################################
checkBak=1
#toUser=ArcticWolf
toUser="@all:guyage"
retries=6
